title = "Smart Farm"
tabs = ["The Project", "The Watchers", "Pricing"]
covertexts = ["We are developing Smart Farm with the goal of making chicken farm management much easier such that it can be done with without even leaving your seat. We wanted to help you keep in touch with your farm - whenever, wherever. We also want to let you know about the problems your farm is experiencing or is about to experience and let you act faster.", "text2", "text3"]

!!! 5
html(lang="en")
  head
    title Smart Farm
    //twitter bootstrap css
    link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    
    // jquery
    script(src="http://code.jquery.com/jquery.js")
    //twitter bootstrap js
    script(src="../bootstrap/js/bootstrap.min.js")
    
    //nivo-slider css
    link(href="../nivo-slider/nivo-slider.css", rel="stylesheet", media="screen")
    //nivo-slider js
    script(src="../nivo-slider/jquery.nivo.slider.pack.js")
    
    // my css
    link(href="style2point0.css", rel="stylesheet")
    
  body
    .header.two-col
      a(href="loginv2.html")
        img.col-1(src="../img/smartfarm.png", class="logo")
      .loginbox.col-2
        form(action="home.html")
          input(type="text", placeholder="Username")
          input(type="password", placeholder="Password")
          button.btn.btn-green#login Login
          
    .content
      h3 Contact us at 
        a(href="mailto:smartfarm.watchers@gmail.com") smartfarm.watchers@gmail.com
        
    .footer
      //a(href="") About
      p &copy 2013 The Watchers