li{
	list-style: none;
}
ul{
	margin: 0;
}
.linearBg2 {
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f9ff 0%, #dcf4c1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(100%,#dcf4c1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f9ff 0%,#dcf4c1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f9ff 0%,#dcf4c1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f9ff 0%,#dcf4c1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f9ff 0%,#dcf4c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#dcf4c1',GradientType=0 ); /* IE6-9 */
}
.header{
	clear:  both;
	margin: 10px;
}
.footer{
	clear: both;
	/*background: #EFEFEF;*/
	margin-top: 70px;
	padding: 10px 20px;
}
.content{
	clear: both;
	margin: 0 auto;
	width: 100%;
}
.centerbox{
	width: 200px;
	margin: auto;
	margin-top: 20px;
}
.centerbox input,
.centerbox button{
	width: 200px;
	padding-right: 0;
	margin-right: 0;
}
.loginbox{
	padding-bottom: 10px;
}
.lefted{
	float: left;
}

.righted{
	float: right;
}

.logoutbar{
	margin-top: 30px;
	margin-right: 50px;
}
.logoutbar .dropdown-menu{
	margin-left: -100px;
}
.staticon{
	margin: 10px;
}
.newuser{
	margin-right: 30px;
}
.farmbox{
	clear: both;
	width: 90%;
	margin: auto;
	padding-top: 30px;
}
