farms = [{name:"Farm1", ad:"UP"}, {name:"farm2", ad:"bagiuo"}]

!!! 5
html(lang="en")
  head
    title Smart Farm
    //twitter bootstrap css
    link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    // my css
    link(href="style2point0.css", rel="stylesheet")
    // jquery
    script(src="http://code.jquery.com/jquery.js")
    //twitter bootstrap js
    script(src="../bootstrap/js/bootstrap.min.js")
    
  body
    .header.two-col
      div.col-1
        img.col-1(src="../img/smartfarm.png", class="logo")       
      div.quicklinks
          a(href="home.html") Home
          a(href="profile.html") Profile
          a(href="billing.html") Billing 
      div.menu.col-2
        div.btn-group
          //button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
            i.icon-chevron-down
          h3.dropdown-toggle(data-toggle="dropdown") Mr. Farmer
          ul.dropdown-menu
            li
              a(href="home.html") My Farms
            li
              a(href="profile.html") Profile
            li
              a(href="billing.html") Billing
            li
               a(href="loginv2.html") Logout
                        
    script(type="text/javascript")
      $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
      }); 
    .content
      h2 My Farms
      each farm in farms
        .farmbox.two-col
          div.col-1
            a(href="farm.html")
              h3 #{farm.name}
            p #{farm.ad}
          div.col-2
            .staticon
              span 33&deg
            .staticon
              span 56%
            .staticon
              img(src="../img/SlightDrizzle.png")
            .staticon  
              span 88
      form(action="newfarm.html")
        button.btn New Farm
        
        
    .footer
      //a(href="") About
      p &copy 2013 The Watchers