!!! 5
html(lang="en")
  head
    title Smart Farm
    //twitter bootstrap css
    link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    // my css
    link(href="style2point0.css", rel="stylesheet")
    // jquery
    script(src="http://code.jquery.com/jquery.js")
    //twitter bootstrap js
    script(src="../bootstrap/js/bootstrap.min.js")
    
  body
    .header.two-col
      div.col-1
        img(src="../img/smartfarm.png", width="300")        
      div.quicklinks
          a(href="home.html") Home
          a(href="profile.html") Profile
          a(href="billing.html") Billing 
      div.menu.col-2
        span Mr. Farmer
        div.btn-group
          button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
            i.icon-chevron-down
          ul.dropdown-menu
            li
              a(href="home.html") My Farms
            li
              a(href="profile.html") Profile
            li
              a(href="billing.html") Billing
            li
               a(href="loginv2.html") Logout
               
    script(type="text/javascript")
      $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
      });
      
    .content
      div.farmbox
        h2 New Farm
        form(action="home.html")
          label System Serial Number
          input(type="text")
          
          label Farm Name
          input(type="text")
          
          label Farm Location
          input(type="text")
          
          br
          input.btn(type="submit")
  
    .footer
      //a(href="") About
      p &copy 2013 The Watchers