farms = [{name:"Farm1", ad:"UP"}, {name:"farm2", ad:"bagiuo"}]

!!! 5
html(lang="en")
  head
    title Smart Farm
    //twitter bootstrap css
    link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    // my css
    link(href="style2point0.css", rel="stylesheet")
    // jquery
    script(src="http://code.jquery.com/jquery.js")
    //twitter bootstrap js
    script(src="../bootstrap/js/bootstrap.min.js")
    
  body
    .header.two-col
      div.col-1
        img.col-1(src="../img/smartfarm.png", class="logo")      
      div.quicklinks
          a(href="home.html") Home
          a(href="profile.html") Profile
          a(href="billing.html") Billing 
      div.menu.col-2
        div.btn-group
          //button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
            i.icon-chevron-down
          h3.dropdown-toggle(data-toggle="dropdown") Mr. Farmer
          ul.dropdown-menu
            li
              a(href="home.html") My Farms
            li
              a(href="profile.html") Profile
            li
              a(href="billing.html") Billing
            li
               a(href="loginv2.html") Logout
               
    script(type="text/javascript")
      $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
      });
      
    .content
      h2 Profile
      .profile.two-col
        .userprofile.col-1
          img(src="../img/default-avatar.png")
          h3 Juan the Farmer
          span Quezon City
          br
          span owns 2 farms
          br
          .options
            span options
            button.btn Edit
            button.btn.btn-danger Deactivate Account
        
        .farmsprofile.col-2
          each farm in farms
            div
              img(src="../img/default-farm.jpg")
              h3 #{farm.name}
              span #{farm.ad}
              br
              span thisfarm@email.com
              br
              span ave. 200,000 chickens per year
              br
              .options
                span options
                button.btn Edit
                button.btn.btn-danger Delete
                
      script(type="text/javascript")
        $(".options").hover(function(){
          $(this).find("button").toggle();
        });
        
    .footer
      //a(href="") About
      p &copy 2013 The Watchers