farms = [{name:"Farm1", ad:"UP"}, {name:"farm2", ad:"bagiuo"}]

!!! 5
html(lang="en")
  head
    title Smart Farm
    //twitter bootstrap css
    link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    // my css
    link(href="style2point0.css", rel="stylesheet")
    // jquery
    script(src="http://code.jquery.com/jquery.js")
    //twitter bootstrap js
    script(src="../bootstrap/js/bootstrap.min.js")
    
  body
    .header.row-fluid
      div.span3
        img(src="../img/smartfarm.png", class="logo")       
      div.quicklinks.span3
          a(href="home.html") Home
          a(href="profile.html") Profile
          a(href="billing.html") Billing 
      div.menu.span2.offset4
        div.btn-group
          //button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
            i.icon-chevron-down
          h3.dropdown-toggle(data-toggle="dropdown") Mr. Farmer
          ul.dropdown-menu
            li
              a(href="home.html") My Farms
            li
              a(href="profile.html") Profile
            li
              a(href="billing.html") Billing
            li
               a(href="loginv2.html") Logout
               
    script(type="text/javascript")
      $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
      });
      
    .content
      h2 Profile
      .row-fluid
        .span6.profile
          div
            img(src="../img/default-avatar.png")
            h3 Juan the Farmer
            h5 The Filipino Chicken Farm
            h5 Farm Owner
            .options
              span options
              button.btn Edit Profile
              button.btn.btn-danger Deactivate Account

          div
            h3 Basic Information
            table
              tr
                td Company Name
                td The Filipino Chicken Farm
              tr
                td Designation
                td Farm Owner
              tr
                td Business type
                td Contract Growing
              tr
                td Affiliations(s)
                td Golden Growing Ventures Inc.

          div
            h3 Contact Information
            table
              tr
                td Cellphone Number
                td +63 932 9916 063
               tr
                td Email Address
                td johnlefarmer@gmail.com
              tr
                td Office Address
                td #27 Salvacion St. RC Building, San Pablo City, Laguna

        .span6
          .profile
            h3 Farm Information
            each farm in farms
              div
                img(src="../img/default-farm.jpg")
                table
                  tr
                    td Farm Name
                    td #{farm.name}
                  tr
                    td Farm Address
                    td #{farm.ad}
                  tr
                    td Contact Person
                    td Juanita the Farmer
                  tr
                    td Cellphone Number
                    td +63 932 9916 063
                  tr
                    td Email Address
                    td johnlefarmer@gmail.com

                .options
                  span options
                  button.btn Edit
                  button.btn.btn-danger Delete
                
      script(type="text/javascript")
        $(".options").hover(function(){
          $(this).find("button").toggle();
        });
        
    .footer
      //a(href="") About
      p &copy 2013 The Watchers