title = "Smart Farm"
tabs = ["The Project", "The Watchers", "Pricing"]

!!! 5
html(lang="en")
  head
    title Smart Farm
    //twitter bootstrap css
    link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    // my css
    link(href="style2point0.css", rel="stylesheet")
    // jquery
    script(src="http://code.jquery.com/jquery.js")
    //twitter bootstrap js
    script(src="../bootstrap/js/bootstrap.min.js")
    
  body
    .header.two-col
      a(href="loginv2.html")
        img.col-1(src="../img/smartfarm.png", width="300")
      .loginbox.col-2
        form(action="home.html")
          input(type="text", placeholder="Username")
          input(type="password", placeholder="Password")
          button.btn.btn-green#login Login
          
    .content
      h2 Purchase SmartFarm
      form
        label Name
        input(type="text")
        label Address
        input(type="text")
        label Contact Number
        input(type="text")
        br
        button.btn(type="submit") Purchase
        
      
    .footer
      //a(href="") About
      p &copy 2013 The Watchers