body
  background-color #EEEEEE
  
input[type="text"],
input[type="password"]
  margin 10px 5px
  
a 
  color #222222
  text-decoration: none

a:hover 
  text-decoration:none
  cursor:pointer
  
.header
  background-color #222222
  padding 10px 20px 0 20px

.footer
  clear both
  margin-top 100px
  padding 0 20px
  color #999999
  p
    text-align center
  
.content
  //background-color #222222
  padding 0 20px
  
.loginbox
  margin-top 30px
  
.slideshow
  padding-top 20px
  margin auto
  overflow auto
  position relative
  button
    position absolute
    bottom 10%
    right 10%
    

.bigcover
  //background-color #555555
  //overflow auto
  img
    //
  
.lowertabs
  //background-color #666666
  clear both
  margin 10px 0
  position relative
  div
    float left
    padding 1% 0
    width 33.33%
    background-color #7BB739
    h4
      text-align center
    
.two-col
  overflow auto
  .col-1
    float left
  .col-2
    float right
    
.btn-blue
	color: #FFFFFF
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	background-color: #329A9F
	*background-color: #329A9F
	background-image: -moz-linear-gradient(top, #13CBD4, #329A9F)
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#13CBD4), to(#329A9F))
	background-image: -webkit-linear-gradient(top, #13CBD4, #329A9F)
	background-image: -o-linear-gradient(top, #13CBD4, #329A9F)
	background-image: linear-gradient(to bottom, #13CBD4, #329A9F)
	background-repeat: repeat-x
	border-color: #329A9F
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)


.btn-blue:hover,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] 
	color: #FFFFFF
	background-color: #329A9F
	*background-color: #003bb3

  
.btn-green 
	color: #FFFFFF
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	background-color: #7BB739
	background-image: -moz-linear-gradient(top, #A7FA4E, #7BB739)
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A7FA4E), to(#7BB739))
	background-image: -webkit-linear-gradient(top, #A7FA4E, #7BB739)
	background-image: -o-linear-gradient(top, #A7FA4E, #7BB739)
	background-image: linear-gradient(to bottom, #A7FA4E, #7BB739)
	background-repeat: repeat-x
	border-color: #7BB739
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7FA4E', endColorstr='#7BB739', GradientType=0)
	//filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)

.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled]
	color: #FFFFFF
	background-color: #7BB739
	*background-color: #003bb3
