body{background-color:#eee}
input[type="text"],input[type="password"]{margin:10px 5px}
a{color:#222;text-decoration:none}
a:hover{text-decoration:none;cursor:pointer}
.header{background-color:#222;padding:10px 20px 0 20px}
.footer{clear:both;margin-top:100px;padding:0 20px;color:#999;}
.footer p{text-align:center}
.content{padding:0 20px}
.loginbox{margin-top:30px}
.slideshow{padding-top:20px;margin:auto;overflow:auto}
.bigcover button{position:absolute;bottom:5%;right:20%}
.lowertabs{clear:both;margin:10px 0;}
.lowertabs div{float:left;padding:10px 20px;width:30%;background-color:#7bb739;}
.lowertabs div h4{text-align:center}
.two-col{overflow:auto;}
.two-col .col-1{float:left}
.two-col .col-2{float:right}
.btn-blue{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#329a9f;*background-color:#329a9f;background-image:-moz-linear-gradient(top,#13cbd4,#329a9f);background-image:-webkit-gradient(linear,0 0,0 100%,from(#13cbd4),to(#329a9f));background-image:-webkit-linear-gradient(top,#13cbd4,#329a9f);background-image:-o-linear-gradient(top,#13cbd4,#329a9f);background-image:linear-gradient(to bottom,#13cbd4,#329a9f);background-repeat:repeat-x;border-color:#329a9f;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn-blue:hover,.btn-blue:active,.btn-blue.active,.btn-blue.disabled,.btn-blue[disabled]{color:#fff;background-color:#329a9f;*background-color:#003bb3}
.btn-green{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#7bb739;background-image:-moz-linear-gradient(top,#a7fa4e,#7bb739);background-image:-webkit-gradient(linear,0 0,0 100%,from(#a7fa4e),to(#7bb739));background-image:-webkit-linear-gradient(top,#a7fa4e,#7bb739);background-image:-o-linear-gradient(top,#a7fa4e,#7bb739);background-image:linear-gradient(to bottom,#a7fa4e,#7bb739);background-repeat:repeat-x;border-color:#7bb739;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn-green:hover,.btn-green:active,.btn-green.active,.btn-green.disabled,.btn-green[disabled]{color:#fff;background-color:#7bb739;*background-color:#003bb3}
